@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

/* Global */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:var(--font);
}

body{
    background-color: var(--color1);
    width: 100vw;
}

:root{
    --color1: #F9F9F9;
    --color2: #E79531;
    --color3: #cfc0c038;
    --gradient1: linear-gradient(to bottom, #EF9207, #F1AF12 );    ;
    --font: 'Mochiy Pop One', sans-serif;
}

/* Header */
header{
    font-size: 15px;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

header a{
    color: #000000;

}

header img{
    height: 15px;
    width: 15px;
}

#logo{
    width: 30px;
    height: 30px;
}

nav{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
nav a{
    display: flex;
    align-items: center;
}

/* Main */

main{
    width: 100%;
}

section{
    border-top: 1.5px solid var(--color3);
    width: 80%;
    margin: 0 auto;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-image: var(--gradient1);
    border-radius: 20px;
    padding: 20px 30px;
    color: var(--color1);

}

.form h1{
    width: 80%;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
}

.form p{
    font-size: 15px;
    text-align: center;
}

.section1{
    margin: 10px 0;
    padding: 20px 0;
    display: flex;
}

input::placeholder{
    padding-left: 10px

}

input{
    border-radius: 30px;
    padding: 5px;
    height: 40px;
    width: 80%;
    border: 1px solid var(--color3);
    margin: 20px auto 0 auto;
}

input[type=submit]{
    border: none;
    height: 52px;
    width: 50%;
}

.img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img{
    width: 300px;
    height: 350px;
}

/* Cards */

.section2{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.card h2{
    background-color: var(--color2);
    border-radius: 50% 50% 0 0;
    color: var(--color1);
    text-align: center;
    justify-content: center;
    padding: 6px 0px;
    letter-spacing: 5px;
}

.card1{
    background-image: url(images/cat.jpg);
}

.card2{
    background-image: url(images/dog2.jpg);
}

.card3{
    background-image: url(images/chamaleon.jpg);
}



@media only screen and (max-width: 1200px) {
    .card{
        height: 200px;
        width: 200px;
    }
}