header{
    ion-icon{
        height: 30px;
        width: 30px;
    }

    #logo {
        a{
            font-family: $logoFont, Arial, sans-serif;
            font-size: 40px;
            font-weight: 700;
        }
    }

}



