@import "variables";

.whatsapp{
    background-color: $bgWhatsapp;
    color: $normalColor;
    bottom: 30px;
    right: 30px;
    position: fixed;
    height: auto;
    width: auto;
    transition: all .3s;
}


.whatsapp ion-icon{
    height: 50px;
    width: 50px;
    padding: 10px
}

.whatsapp:hover{
    cursor: pointer;
    color: $normalColor;
    transform: scale(1.1);
}